CMakeCache.txt
CMakeFiles
cmake_install.cmake
build
Win32
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.user
ccl.vcxproj
Makefile
ZERO_CHECK.vcxproj.filters
ccl.dir
Debug
ALL_BUILD.vcxproj.filters
ccl.vcxproj.filters
CMakeCache
connected_components.sln
ZERO_CHECK.vcxproj
.vs